* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.container {
  display: grid;
  width: 100%;
  grid-template-areas:
    "page-section AM"
    "page-section Work-grid"
    "page-section-contact CM";
  grid-template-rows: 200px 700px 200px;
  grid-template-columns: 20% 80%;
  gap: 30px;
}

.work-grid{
  display: grid;
  grid-template-areas: 
    "box1 box2"
    "box3 box4";
  grid-auto-rows: 1fr 1fr;
  grid-auto-columns: 1fr 1fr;
  gap: 30px;
 }

 .work-grid div{
  background-size:cover;
  border: 5px solid blueviolet;
  font-size: 40px;
  font-weight: bold;
  text-align: justify;
  }   

  .work-grid :hover{
    background-size: 150%;
  }
.box1{
  background-image: url(https://static-cse.canva.com/blob/572029/removingbackgroundimages_Unsplash.e695e074.jpeg);
  }

.box2{
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/984/880/original/abstract-colorful-geometric-overlapping-background-and-texture-free-vector.jpg);
  }

 .box3{
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2149005675.jpg?w=2000);
  }

.box4{
    background-image: url(https://img.freepik.com/free-vector/abstract-low-poly-orange-yellow-background_1017-32111.jpg?auto=format&h=200);
  }


header h1{
  display:inline-block;
  font-size: 40px;
  margin: 10px;
}

nav{
  display:flex;
  justify-content:space-between;
  float: right;
  margin-top: 10px;
}
ul li{
  display: inline;
  font-size: 20px;
  margin-right: 10px;
  
}
ul{
  display: inline;
  
}

.page-section{
  border-right: 5px solid blueviolet;
}


footer h3{
  position: fixed ;
  bottom: 0;
  width: 100%;
  padding: 10px;
  margin-bottom: 0;
  background-color: rgb(250, 172, 28);
  display: block;
  text-align: center;

}
.header{
  background-color: rgb(250, 172, 28);
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom: 5px solid;
  border-color: blueviolet;
}

.hero-banner{
  background-image: url(https://images.unsplash.com/photo-1608555307638-992062b31329?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8b3JhbmdlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80);
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0px;
  font-style: italic;
}

.hero-banner h2{
  padding-top: 0;
  margin-top: 0;
  text-align: center;
  font-size: 25px;
}

.page-section {
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: right;
}

.page-section h2 {
  padding: 10px;
}

.AM, .CM{
  font-size: 20px;
}

@media screen and (max-width 800px) {
  header{
    background-color: azure;
    font-size: smaller;
  }
  footer h3{
    font-size: x-small;
  }
  main,
  nav{
    max-width: 1200px;
    flex-direction: column;

  }

}