* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.container {
  display: grid;
  width: 100%;
  /* height: 250px; */
  grid-template-areas:
    "page-section AM"
    "page-section Work-grid"
    "page-section-contact CM";
  grid-template-rows: 300px 900px 300px;
  grid-template-columns: 20% 80%;
  gap: 30px;
}

.work-grid{
  display: grid;
  grid-template-areas: 
    "box1 box2"
    "box3 box4";
  /* grid-template-columns: 500px 500px;
  grid-template-rows: 300px 300px; */
  grid-auto-rows: minmax(200px auto);
  grid-auto-columns: 1fr 1fr;
  gap: 30px;
 }

.box1{
  background-image: url(https://static-cse.canva.com/blob/572029/removingbackgroundimages_Unsplash.e695e074.jpeg);
  background-size:cover;
  border: 5px solid blueviolet;
  padding: 10px;
  }

.box2{
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/984/880/original/abstract-colorful-geometric-overlapping-background-and-texture-free-vector.jpg);
    background-size: cover;
  }

 .box3{
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2149005675.jpg?w=2000);
    background-size: cover;
  }

.box4{
    background-image: url(https://img.freepik.com/free-vector/abstract-low-poly-orange-yellow-background_1017-32111.jpg?auto=format&h=200);
    background-size: cover;
  }
.work-grid img {
  /* object-fit:contain; */
  /* width: 500px; */
  /* height: 600px; */
}

header h1{
  display:inline-block;
}

nav{
  display:inline;
  text-align: right;

}
ul li{
  display: inline;
  
}
ul{
  display: inline;
  
}

.page-section{
  border-right: 5px solid blueviolet;
}


footer h3{
  position: fixed ;
  bottom: 0;
  width: 100%;
  padding: 10px;
  margin-bottom: 0;
  background-color: rgb(60, 231, 223);
  display: block;
  text-align: center;

}
.header{
  padding: 5px;
  background-color: rgb(60, 231, 223);
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  border-bottom: 5px solid;
  border-color: blueviolet;
}

.hero-banner{
  background-image: url(https://previews.123rf.com/images/jenemilia/jenemilia1303/jenemilia130300295/18640855-abstract-wavy-marine-seamless-pattern-aquamarine-blue-variant-.jpg);
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0px;
}

.hero-banner h2{
  padding-top: 0;
  margin-top: 0;
  text-align: center;
}

.page-section {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: right;
}

.page-section h2 {
  padding: 20px;
}